<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#3367D6"/>
  <link rel="apple-touch-icon" href="/icons-192.png">
  <link rel="manifest" href="/manifest.json">
  


  <%- meta_generator() %>

  <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
  <% } %>

  <% if (config.keywords) { %>
    <meta name="keywords" content="<%= config.keywords %>">
  <% } %>

  <% if (config.author) { %>
    <meta name="author" content="<%= config.author %>">
  <% } %>

  <% if (config.copyright) { %>
    <meta name="copyright" content="<%= config.copyright %>">
  <% } %>

  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>

  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>

  <% if (theme.mathjax.enable&&page.mathjax){ %> 
    <!--mathjax latex数学公式显示支持-->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <% } %>

  <% if (config.highlight.enable){ %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeface-source-code-pro@1.1.3/index.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.16.2/styles/<%= config.highlight.theme || 'monokai' %>.css">
  <% } %>

  <%- css('css/style') %>
</head>
<body>
  <div class="root-container">
    <%- partial('_partial/header') %>

    <%- body %>

    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>

  <div class="back-to-top-fixed soft-size--round soft-style--box">
    <svg class="icon icon-back-to-top" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M725.333333 426.666667c-12.8 0-21.333333-4.266667-29.866667-12.8l-213.333333-213.333333c-17.066667-17.066667-17.066667-42.666667 0-59.733333s42.666667-17.066667 59.733333 0l213.333333 213.333333c17.066667 17.066667 17.066667 42.666667 0 59.733333C746.666667 422.4 738.133333 426.666667 725.333333 426.666667z"></path>
      <path d="M298.666667 426.666667c-12.8 0-21.333333-4.266667-29.866667-12.8-17.066667-17.066667-17.066667-42.666667 0-59.733333l213.333333-213.333333c17.066667-17.066667 42.666667-17.066667 59.733333 0s17.066667 42.666667 0 59.733333l-213.333333 213.333333C320 422.4 311.466667 426.666667 298.666667 426.666667z"></path>
      <path d="M512 896c-25.6 0-42.666667-17.066667-42.666667-42.666667L469.333333 170.666667c0-25.6 17.066667-42.666667 42.666667-42.666667s42.666667 17.066667 42.666667 42.666667l0 682.666667C554.666667 878.933333 537.6 896 512 896z"></path>
    </svg>
  </div>

  <%# 加载站点脚本 %>
  <%- partial('_partial/footer-script') %>
  <%# 加载自定义脚本代码 %>
  <%- partial('_partial/footer-other') %>
</body>
</html>
