<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
  <% } %>

  <% if (config.keywords) { %>
    <meta name="keywords" content="<%= config.keywords %>">
  <% } %>

  <% if (config.author) { %>
    <meta name="author" content="<%= config.author %>">
  <% } %>

  <% if (config.copyright) { %>
    <meta name="copyright" content="<%= config.copyright %>">
  <% } %>

  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>

  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.6/styles/<%= config.highlight.theme || 'default' %>.min.css" rel="stylesheet">
  <% } %>

  <%- css('css/style') %>
</head>
<body>
  <div id="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

    <section id="main"><%- body %></section>

    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>

  <%# 加载自定义脚本代码 %>
  <%- partial('_partial/footer-other') %>
  <%# 加载站点脚本 %>
  <%- partial('_partial/footer-script') %>
</body>
</html>