<div class="article-nav-item layout-padding">
  <article class="card-container article-nav-card content-padding--primary soft-size--large soft-style--box">
    <% if (page.cover) { %>
      <div class="card-cover" background-image-lazy data-img="<%= page.cover %>"></div>
    <% } %>
    <div class="card-text">
      <% if (page.link) { %>
        <a href="<%- url_for(page.link) %>" itemprop="url" target="_blank">
          <h2 class="card-text--title text-ellipsis"><%= page.title || "(no title)" %></h2>
        </a>
      <% } else { %>
        <a href="<%- url_for(page.path) %>" itemprop="url">
          <h2 class="card-text--title text-ellipsis"><%= page.title || "(no title)" %></h2>
        </a>
      <% } %>
      <div class="card-text--row"><%= __(keyword) %></div>
    </div>
  </article>
</div>