<%
  var useComments = theme.comments.use
  var valine = theme.comments.valine
  var disqus = theme.comments.disqus
  var show_comments = post.comments
  if (show_comments === undefined) {
    show_comments = theme.comments.enable
  }
%>

<% if (show_comments) { %>
  <%# valine 评论 %>
  <% if (useComments === 'valine' && valine.appId && valine.appKey) { %>
    <div class="valine-container comments-container content-padding--primary soft-size--large soft-style--box">
      <div id="valine_thread" class="valine-thread"></div>
    </div>
    <script type="text/javascript" src="//unpkg.com/leancloud-storage@3.15.0/dist/av-min.js"></script>
    <script type="text/javascript" src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script type="text/javascript">
      new Valine({
        el: "#valine_thread",
        appId: "<%= valine.appId %>",
        appKey: "<%= valine.appKey %>",
        placeholder: "<%= valine.placeholder %>",
        avatar: "<%= valine.avatar %>",
        pageSize: <%= valine.pageSize %>,
        lang: "<%= valine.lang %>",
        visitor: <%= valine.visitor %>,
        recordIP: <%= valine.recordIP %>,
        enableQQ: <%= valine.enableQQ %>,
        meta: <%- valine.meta %>,
        requiredFields: <%- valine.requiredFields %>,
        <% if (valine.bilibiliEmoji) { %>
        <%- partial("../plug-in/bilibili-emoji") %>
        <% } %>
      });
    </script>
  <% } %>

  <%# disqus 评论 %>
  <% if (useComments === 'disqus' && disqus.website) { %>
    <div class="disqus-container comments-container content-padding--primary soft-size--large soft-style--box">
      <p id="disqus_error" class="disqus-error" style="display: none;"><%= disqus.error %></p>
      <div id="disqus_thread" class="disqus-thread"></div>
    </div>
    <script type="text/javascript">
      (function() {
        var d = document, s = d.createElement('script'), c = d.querySelector(".disqus-container");
        if (!c) return;
        s.src = 'https://<%= disqus.website %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        s.onerror = () => {
          document.querySelector("#disqus_error").style.display = "block";
        }
        (d.head || d.body).appendChild(s);
      })();
    </script>
  <% } %>

<% } %>