<!-- post container -->
<div class="main-container">
  <div class="card-container card-articles">
    <div class="card-wrap">
      <% page.posts.each(function(post, i) { %>
        <div class="card-item<%= post.title.length > theme.large_legnth ? ' large' : '' %><%= post.cover ? ' img' : '' %>">
          <article>
            <% if (post.cover) { %>
              <div class="card-cover" style="background-image: url(<%= post.cover %>)"></div>
            <% } %>
            <div class="post-card-content">
              <% if (post.link) { %>
                <a class="article-link" href="<%- url_for(post.link) %>" itemprop="url" target="_blank"></a>
              <% } else { %>
                <a class="article-link" href="<%- url_for(post.path) %>" itemprop="url"></a>
              <% } %>
              <h2 class="article-title"><%= post.title %></h2>
              <div class="article-meta">
                <strong><%= post.author || config.author %></strong>
                <span>发布于</span>
                <%- partial('./date', { class_name: 'article-date', post: post, date_format: null, link: true }) %>
              </div>
              <div class="article-category">
                <%- list_categories(post.categories, {
                    show_count: false,
                    style: 'none',
                    class: 'article-category',
                    separator: ''
                  }) %>
              </div>
            </div>
          </article>
        </div>
      <% }) %>
    </div>
  </div>
</div>