<% if (post.prev || post.next){ %>
<nav class="card-container card-article-nav">
  <div class="card-wrap">
    <% if (post.prev){ %>
      <div id="article-nav-newer" class="card-item<%= post.prev.cover ? ' img' : '' %>">
        <article>
          <% if (post.prev.cover) { %>
            <div class="card-cover" style="background-image: url(<%= post.prev.cover %>)"></div>
          <% } %>
          <a class="card-link article-nav-link" href="<%= url_for(post.prev.path) %>"></a>
          <strong class="article-nav-caption"><%= __('newer') %></strong>
          <p class="article-nav-title">
            <% if (post.prev.title){ %>
              <%= post.prev.title %>
            <% } else { %>
              (no title)
            <% } %>
          </p>
        </article>
      </div>
    <% } %>
    <% if (post.next){ %>
      <div id="article-nav-older" class="card-item<%= post.next.cover ? ' img' : '' %>">
        <article>
          <% if (post.next.cover) { %>
            <div class="card-cover" style="background-image: url(<%= post.next.cover %>)"></div>
          <% } %>
          <a class="card-link article-nav-link" href="<%= url_for(post.next.path) %>"></a>
          <strong class="article-nav-caption"><%= __('older') %></strong>
          <p class="article-nav-title">
            <% if (post.next.title) { %>
              <%= post.next.title %>
            <% } else { %>
              (no title)
            <% } %>
          </p>
        </article>
      </div>
    <% } %>
  </div>
</nav>
<% } %>