<!-- 文章内容 -->

<div class="body-container">
  <article class="content-container article-container">
    <div class="article-content">
      <%# 如果文章设置了photos内容 %>
      <% if (page.photos && page.photos.length) { %>
      <section class="article-gallery">
        <%- partial("../_widget/gallery", { class_name: "article-gallery-photos", post: page }) %>
      </section>
      <% } %>

      <section class="article-entry">
        <%- page.content %>
      </section>

      <section class="article-footer">
        <%- partial("../_widget/tags", { class_name: "article-tag", post: page }) %>
      </section>

      <section class="article-navs">
        <%- partial('./article-nav', { post: page }) %>
      </section>

      <%- partial('../_widget/comment', { post: page }) %>
    </div>
  </article>
</div>