<!-- footer container -->
<footer id="footer" class="footer">
  <div class="footer-container">
    <% if (theme.social_icon.footer_enable) { %>
    <div class="social-icons social-icons-footer">
      <%-
        icons(theme.social_icon.icons, {
          render: function (icon, value) {
            return partial("../_svg/" + icon, { icon, value, size: 30 })
          }
        })
      -%>
    </div>
    <% } %> 
    <p>&copy; <%= date(new Date(), 'YYYY') %> <a href="/" target="_blank"><%= config.author %></a></p>

    <% if (theme.hitokoto && theme.hitokoto.enable) { %>
      <p id="hitokoto"></p>
      <script src="https://v1.hitokoto.cn/?<%= theme.hitokoto.type ? 'c=' + theme.hitokoto.type + '&' : '' %>encode=js&select=%23hitokoto" defer></script>
    <% } %>

    <% if (theme.beian) { %>
      <p><a href="http://www.miitbeian.gov.cn" target="_blank"><%= theme.beian %></a></p>
    <% } %>

    <p>Powered by <a href="https://hexo.io" target="_blank" rel="noopener noreferrer">Hexo</a> Theme - <a href="https://github.com/miiiku/flex-block" target="_blank" rel="noopener noreferrer author">flex-block</a></p>
  </div>
</footer>