<!-- 自定义页面 -->

<div class="body-container">
  <%# 输出自定义页面文章内容 %>
  <% if (page.content) { %>
  <article class="content-container article-container">
    <div class="article-content">
      <div class="article-entry"><%- page.content %></div>
    </div>
  </article>
  <% } %>

  <%# 输出自定义友链内容 %>
  <% if (page.type === "links") { %>
    <article class="content-container next">
      <div class="article-content">
        <div class="article-entry">
          <% site.data.links.forEach(function(link) { %>
            <figure class="bookmark-card">
              <a class="bookmark-container" target="_blank" title="<%= link.name %>" href="<%= link.link %>">
                <div class="bookmark-content">
                  <div class="bookmark-name"><%= link.name %></div>
                  <div class="bookmark-link"><%= link.link %></div>
                </div>
                <div class="bookmark-cover">
                  <svg class="icon icon-link" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M306.05312 361.6768a61.44 61.44 0 0 1 4.21888 82.20672l-4.21888 4.66944-106.9056 106.9056a190.464 190.464 0 0 0 262.30784 276.15232l7.08608-6.7584 106.9056-106.9056a61.44 61.44 0 0 1 91.09504 82.24768l-4.21888 4.66944-106.9056 106.9056A313.344 313.344 0 0 1 104.448 476.61056l7.7824-8.11008 106.9056-106.9056a61.44 61.44 0 0 1 86.91712 0z m385.024-27.81184a61.44 61.44 0 0 1 4.21888 82.20672l-4.21888 4.66944-270.336 270.336a61.44 61.44 0 0 1-91.09504-82.20672l4.21888-4.66944 270.336-270.336a61.44 61.44 0 0 1 86.8352 0z m220.65152-221.5936a313.344 313.344 0 0 1 7.7824 435.07712l-7.7824 8.11008-106.9056 106.9056a61.44 61.44 0 0 1-91.09504-82.24768l4.21888-4.66944 106.9056-106.9056a190.464 190.464 0 0 0-262.30784-276.15232l-7.08608 6.7584-106.9056 106.9056a61.44 61.44 0 0 1-91.09504-82.24768l4.21888-4.66944 106.9056-106.9056a313.344 313.344 0 0 1 443.1872 0z" p-id="2361" fill="#8a8a8a"></path>
                  </svg>
                </div>
              </a>
            </figure>
          <% }) %>
        </div>
      </div>
    </article>
  <% } %>

  <%# 输出自定义留言板内容 %>
  <% if (page.type === "messages") { %>
    <article class="content-container next">
      <div class="article-content">
        <%- partial('../_widget/comment', { post: page }) %>
      </div>
    </article>
  <% } %>
</div>